.wolmart-rounded-skin {

	.vendor-widget:not(.vendor-widget-3) .vendor-logo,
	.vendor-widget:not(.vendor-widget-3) .vendor-banner,
	.vendor-widget-2,
	.vendor-widget-3 {
		border-radius: 8px;
		overflow: hidden;
	}

	.vendor-widget .product-media img {
		border-radius: 8px;
	}

	.banner {
		overflow: hidden;
	}

	.post-media,
	.post-media img,
	.hotspot-box,
	.post-mask:before,
	.brand-widget-3,
	.testimonial,
	.testimonial .content,
	.elementor-widget-wolmart_widget_banner .elementor-widget-container,
	.wolmart-banner-container,
	// wpbakery banner widget
	.products .banner {
		border-radius: 8px;
	}

	.form-control,
	.alert,
	.alert .btn,
	.wpcf7-form-control,
	.comment-respond .btn-submit,
	.calendar_wrap caption,
	.tagcloud>a,
	.post-tags>a,
	.cat-type-frame,
	.post-calendar,
	.instagram img,
	.instagram figure:before,
	.product-cart-bottom .btn-product
	.product .countdown-container,
	.product-hide-details .btn-product,
	.product-list .btn-product,
	.wolmart-compare-table .compare-value .label-swatch {
		border-radius: 8px;
	}
	
}
