.wolmart-rounded-skin {

	.vendor-widget:not(.vendor-widget-3) .vendor-logo,
	.vendor-widget:not(.vendor-widget-3) .vendor-banner,
	.vendor-widget-2,
	.vendor-widget-3 {
		border-radius: 10px;
		overflow: hidden;
	}

	.vendor-widget .product-media img {
		border-radius: 10px;
	}

	.banner {
		overflow: hidden;
	}

	.post-media,
	.post-media img,
	.hotspot-box,
	.post-mask:before,
	.brand-widget-3,
	.testimonial,
	.testimonial .content,
	.elementor-widget-wolmart_widget_banner .elementor-widget-container,
	.wolmart-banner-container,
	// wpbakery banner widget
	.products .banner {
		border-radius: 10px;

	}

	.form-control,
	.alert,
	.alert .btn,
	.wpcf7-form-control,
	.comment-respond .btn-submit,
	.calendar_wrap caption,
	.tagcloud>a,
	.post-tags>a,
	.cat-type-frame,
	.post-calendar,
	.instagram img,
	.instagram figure:before,
	.product-cart-bottom,
	.product-cart-bottom .btn-product,
	.product .countdown-container,
	.product-hide-details .btn-product,
	.product-list .btn-product,
	.wolmart-compare-table .compare-value .label-swatch {
		border-radius: 10px;
	}
	
}


/* Sidebar */
.sidebar-fixed.left-sidebar {
	padding: 0 1.5rem;
	max-width: 26rem;
	width: 26rem;
}
.sidebar.shop-sidebar .filter-actions label,
.sidebar-content:not(.toolbox-left) .widget-title, 
.sidebar:not(.shop-sidebar) .widget .widget-title {
    font-size: var(--font-size-md);
    border-color: var(--gray-40);
    text-transform:math-auto;
    letter-spacing: -0.04rem;
    padding: 1rem 0;
}
.sidebar-content:not(.toolbox-left) .widget-title.collapsed { 
	border: 0
}

.sidebar-content:not(.toolbox-left) .wt-area:before { 
	display: none
}

.wc-block-attribute-filter ul,
.widget-collapsible:not(.widget-block) .product-cat-stack-dokan#cat-drop-stack,
.widget-collapsible:not(.widget-block) .store-cat-stack-dokan#cat-drop-stack,
.widget-collapsible:not(.widget-block)>ul {
    margin-top: 0 !important;
    height: auto;
    max-height: 205px;
    overflow: hidden auto
}

.single-product .widget-collapsible:not(.widget-block)>ul { 
	max-height: 180px
}
.sidebar-content .wc-block-components-checkbox { 
	margin-top: .5em
}
.sidebar .widget li,
#wcfmmp-store ul.categories_list>li, 
#wcfmmp-store ul.product-categories>li {
    padding: 0;
    margin: 0;
    position: relative
}

.sidebar .sidebar-content .widget li>a {
    width: 100%;
    padding-top: .3rem;
    padding-bottom: .3rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}
.sidebar .wc-block-product-categories-list--has-images .wc-block-product-categories-list-item__image {
    margin: 0 .5em 0 0;
    max-width: 28px;
}
.sidebar .wolmart-price-range {
    display: flex;
    align-items: center;
    gap: .5rem
}

.sidebar .wolmart-price-range input {
    border-radius: 8px;
    height: 36px
}

.sidebar .wolmart-price-range button {
    margin: 5px 0;
    width: 100%;
    border: 0;
    border-radius: var(--radius-sm)
}

