/***
Theme Name: Wolmart Child
Theme URI: https://zocoba.com.co/
Author: wolmart
Description: Tema hijo personalizado basado en el tema padre.
Template: wolmart
Version: 2.0
***/

/* Slider Button */
.slider-nav-circle .slider-button {
    border: 0;
    font-size: 18px;
    color: var(--night-100);
    background: var(--gray-40);
}
.slider-button:before {/* content: "\f060"; *//* font-family: "Font Awesome 6 Pro"; */}
.slider-button-next:before {
    /* content: "\f061"; */
    /* font-family: "Font Awesome 6 Pro"; */
}
.slider-button-prev {
    margin-right: .8rem;
}

/* ====================
   2. GENERAL LAYOUT
======================= */
main, .wcfm-store-list-page #main, .wcfm-store-page #main {
    padding-top: 0;
    padding-bottom: 0;
}

.wolmart-rounded-skin .alert, .wolmart-rounded-skin .alert .btn, .wolmart-rounded-skin .calendar_wrap caption, .wolmart-rounded-skin .cat-type-frame, .wolmart-rounded-skin .comment-respond .btn-submit, .wolmart-rounded-skin .form-control, .wolmart-rounded-skin .instagram figure:before, .wolmart-rounded-skin .instagram img, .wolmart-rounded-skin .post-calendar, .wolmart-rounded-skin .post-tags>a, .wolmart-rounded-skin .product .countdown-container, .wolmart-rounded-skin .product-hide-details .btn-product, .wolmart-rounded-skin .product-list .btn-product, .wolmart-rounded-skin .tagcloud>a, .wolmart-rounded-skin .wolmart-compare-table .compare-value .label-swatch, .wolmart-rounded-skin .wpcf7-form-control {
    border-radius: var(--radius-sm);
}

.wolmart-rounded-skin .btn-product,
.wolmart-rounded-skin > div{
    border-radius: var(--radius-sm)!important
}
/* Breadcrumb */
.archive:not(.breadcrumb-divider-active) .breadcrumb-container+main {
    padding-top: 0;
    margin-top: 2rem !important
}
.breadcrumb.home-icon>li:first-of-type>a:before {
    content: "\e487";
}
.breadcrumb .delimiter, .breadcrumb .separator {
    margin: 0 1.5em;
    font-size: 0.3em
}

/* WooCommerce Form Login */
.woocommerce-form-login .form-row label {
    margin-bottom: 2px;
}
.woocommerce-form-login .form-row .input-text {
    /* border-radius: var(--radius-md); */
}
.woocommerce-form-login .form-row {
    margin-bottom: 1rem;
}
.woocommerce-form-login .button {
    /* text-transform: capitalize; */
}
.login-popup {
    max-width: calc(var(--container-xs) - 40px);
    padding: 1rem 2rem;
    border-radius: var(--radius-sm);
}
.login-popup .nav-link {text-transform: capitalize}

.login-popup .tab-pane { padding-top: 1rem }

/* ====================
   3. HEADER
======================= */

header .account i,header .cart-toggle i,header .compare-open i,header .contact i,header .wishlist i{
    font-size:1.6rem;
    margin-bottom:0!important;
    font-weight:500;
}
.aws-container .aws-search-form ,.account a,.cart-dropdown .cart-toggle {
    height: 36px;
    border: 1px solid;
    border-color: var(--gray-60);
    padding: 0 8px;
    justify-content: center;
    border-radius: 8px;
}

.z-box .menu-item a, .z-box .cat-type-simple {
    display: inline-flex !important;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 4px !important;
    margin-bottom: .15rem !important;
    height: 35px !important;
}

.z-box .cat-type-simple:hover,
.z-box .menu-item a:hover { 
    background-color: var(--gray-40);
}
.z-box .account-avatar {
    width: 40px;
    height: 40px;
}
.z-box .logout span { 
    font-size: 16px;
    letter-spacing: -0.035em;
    font-weight: 800;
}

/* Product Category Image */

/* Icons/Figures within Z-Box */
.z-box figure, .z-box i {
    width: 28px;
    height: 28px;
    padding: 0;
    margin-right: 7px !important;
    }

/* Category Content within Z-Box */
.z-box .category-wrap {
    margin-bottom: 0;
}

.z-box .category-content {
    padding: 0;
    display: block;
    width: 100%;
    text-align: left;
}

.z-box .woocommerce-loop-category__title {
    margin-bottom: 0;
    font-weight: 400;
    text-transform: math-auto;
}
.z-box .woocommerce-loop-category__title a{
    display: block;
    width: 100%;
}
.z-box .category-content mark {
    display: none;
}


/*Search Adv. Woo*/


.aws-container .aws-search-form.aws-form-active:before {
    border-bottom: 1px solid var(--gray-40);
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: 10;
    margin: 0 8px 0 16px
}

.aws-container .aws-search-form .aws-search-field, .aws-container .aws-search-form .aws-form-btn {
    border: 0;
    font-size: 14px;
    caret-color: var(--aero-100);
    background: transparent !important;
    color: var(--night-80);
    letter-spacing: -0.020em;
}

.aws-container .aws-search-form .aws-search-btn_icon {
    border-left: 1px solid var(--gray-60);
    color: var(--night-60);
    padding-left: 8px;
}
.aws-container .aws-search-form .aws-search-clear {
    background:#fff;
}
.aws-container .aws-search-form .aws-search-clear span {
    line-height: 18px;
    margin-top: -10px;
    border-radius: 60px !important;
    text-align: center;
    height: 20px;
    width: 20px;
    color: var(--night-80);
    background: var(--gray-60);
}
.aws-search-result {
    box-shadow: var(--shadow-xl);
    border: 1px solid var(--gray-40);
    border-radius: 0!important;
    margin-top: 0.25rem;
    overflow: hidden
}

.aws-search-result.aws_no_result .aws_results .aws_result_item, .aws-search-result .aws_results .aws_result_item {
    border-color: var(--gray-40);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: flex-start;
    align-content: center;
}

.aws-search-result.aws_no_result .aws_results .aws_result_item {
    padding: 16px
}

.aws-search-result .aws_result_link {
    display: flex;
    padding: 8px 8px;
    align-items: center;
}
.aws-search-result .aws_result_user .aws_result_head img, .aws-search-result .aws_result_image img {
    width: 28px;
    border: 1px solid;
    margin-top: 0;
}

.aws-search-result .aws_result_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
}

.aws-search-result .aws_result_head {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    align-items: center;
    width: 85%;
}

.aws-search-result .aws_result_title {
    overflow: hidden;
    color: var(--wolmart-dark-color, #333);
    font-family: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 320px
}

.aws-search-result .aws_result_excerpt, .aws-search-result .aws_result_term {
    max-width: 280px;
    display: flex;
    align-items: center;
    overflow: hidden;
    letter-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1.1rem;
    color: var(--text-placeholder);
    font-size: 12px;
    padding-top: 0;
    z-index: 1000
}

.woocommerce.aws-wishlist {
    margin-left: 2px;
    width: 30px;
    text-align: center
}

.aws-search-result .aws_result_excerpt>a {
    margin-top: 0;
    font-weight: 500;
    color: var(--night-60);
    font-size: 10px;
}

.aws_result_excerpt a img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none
}

/*  Account  */
.account a {width: 100%;padding: 8px;}

.account-avatar {
    width: 18px;
    height: 18px;
}


/* Cart Dropdown */
.cart-dropdown .cart-toggle {
    padding: 0.8rem 2.5rem  0.8rem .6rem;
}
.cart-dropdown.badge-type .cart-count {
    left: 33px;
    top: 8px;
    background: var(--aero-100);
    width: 1.5em;
    height: 1.5em;
}

/* Fixed Header */
.fixed.fix-top {
    -webkit-animation: fixedTop 0.1s;
    animation: fixedTop 0.1s;
    z-index: 10;
}

/* Sidebar */
.sidebar-fixed.left-sidebar {padding: 0 1.5rem;max-width: 26rem;width: 26rem;}
#wcfmmp-store .sidebar-fixed.left-sidebar { padding-left: 0;max-width: 26rem;}
.sidebar .widget,#wcfmmp-store .sidebar .widget  {/* margin-bottom: 1rem; */}
.sidebar.shop-sidebar .filter-actions label,.sidebar-content:not(.toolbox-left) .widget-title, .sidebar:not(.shop-sidebar) .widget .widget-title {
    font-size: var(--font-size-md);
    border-color: var(--gray-40);
    text-transform:math-auto;
    letter-spacing: -0.04rem;
    padding: 1rem 0;
}
.sidebar-content:not(.toolbox-left) .widget-title.collapsed { border: 0}

.sidebar-content:not(.toolbox-left) .wt-area:before { display: none}

.wc-block-attribute-filter ul,.widget-collapsible:not(.widget-block) .product-cat-stack-dokan#cat-drop-stack,.widget-collapsible:not(.widget-block) .store-cat-stack-dokan#cat-drop-stack,
.widget-collapsible:not(.widget-block)>ul {
    margin-top: 0 !important;
    height: auto;
    max-height: 205px;
    overflow: hidden auto
}

.single-product .widget-collapsible:not(.widget-block)>ul { max-height: 180px}
.sidebar-content .wc-block-components-checkbox { margin-top: .5em}
.sidebar .widget li,#wcfmmp-store ul.categories_list>li, 
#wcfmmp-store ul.product-categories>li {
    padding: 0;
    margin: 0;
    position: relative
}

.sidebar .sidebar-content .widget li>a {
    width: 100%;
    padding-top: .3rem;
    padding-bottom: .3rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}
.sidebar .wc-block-product-categories-list--has-images .wc-block-product-categories-list-item__image {
    margin: 0 .5em 0 0;
    max-width: 28px;
}
.sidebar .wolmart-price-range {
    display: flex;
    align-items: center;
    gap: .5rem
}

.sidebar .wolmart-price-range input {
    border-radius: 8px;
    height: 36px
}

.sidebar .wolmart-price-range button {
    margin: 5px 0;
    width: 100%;
    border: 0;
    border-radius: var(--radius-sm)
}


@media (max-width: 767px) {
	.aws-container.aws-mobile-fixed {
       display: flex;
       align-items: center;
       border-bottom: 1px solid;
    }
	.aws-search-result.less500 {
       width: 100% !important;
       height: 100%;
       border: 0;
       left: 0 !important;
       right: 0;
       box-shadow: none;
       padding: 0 1rem;
    }
		
}
/*==============================================================================================================*/

/* Custom Global  */
.icon-circle{
    width: 40px;
    height: 40px;
	font-size: 24px;
    overflow: hidden;
}
.wcfm_appointment_title, .wcfm_auctions_title, .wcfm_booking_title, .wcfm_coupon_title, .wcfm_dashboard_item_title, .wcfm_listing_title, .wcfm_order_title, .wcfm_product_title {
    font-weight: 400;
    color: var(--aero-100);
}
/* Custom Page Blog*/
.single-post .container {
    max-width: calc(800px - 40px)!important;
    margin: auto;
}

/* Custom Seller Sold By*/*
.vendor-widget .vendor-logo {
    height: 7rem;
    background-color: var(--gray-40);
    border: var(--radius-md);
}


/* Footer*/
.text-copyright, .text-footer {
    font-size: var(--font-size-xs);
    color: var(--gray-100);
    font-weight: 500;
}