/***
Theme Name: Wolmart Child
Theme URI: https://zocoba.com.co/
Author: wolmart
Description: Tema hijo personalizado basado en el tema padre.
Template: wolmart
Version: 2.0
***/

/*
 * =========================================================================
 * ZOCOBA - ESTILOS GLOBALES
 * Este archivo importa todos los módulos globales.
 * =========================================================================
 */

/*
 * =========================================================================
 * ZOCOBA - ESTILOS GLOBALES
 * Este archivo importa todos los módulos globales.
 * =========================================================================
 */

// 1. Base (Variables y Tokens)
@import 'base/variables';

// 2. Módulos Globales (Layout, Header, etc.)
@import 'custom/layout';
@import 'custom/header';
@import 'custom/sidebar';
@import 'custom/misc';
