/* -------------------------------------------
	Wolmart Config Variables
------------------------------------------- */

$is_not_optimize: true !default;

// 1. Colors
$primary-color: #2879FE !default;
$secondary-color: #f93 !default;
$body-color: #666 !default;
$dark-color: #333 !default;
$light-color: #ccc !default;


$success-color: #799b5a !default;
$success-color-light: #c4df9b !default;
$info-color: #369 !default;
$info-color-light: #d7e8f8 !default;
$warning-color: #ffa800 !default;
$warning-color-light: #fff1d7 !default;
$danger-color: #a94442 !default;
$danger-color-light: #f7e5e5 !default;
$grey-color: #999 !default;
$light-grey: #f1f1f1 !default;
$border-color: #e5e5e5 !default;
$border-color-light: #eee !default;

// 2. Font-families
$font-family: Poppins, sans-serif !default;

// 3. Font-sizes
$body-size: 14;

// 4. Breakpoints
$breakpoints: (xs: 480px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1600px, xlst: 1920px);
$max-breakpoints: (xs: 479px, sm: 575px, md: 767px, lg: 991px, xl: 1199px, xxl: 1599px);

// 5. Color of Social Icons
$social-facebook: #1b4f9b;
$social-twitter: #00adef;
$social-linkedin: #0073b2;
$social-email: #dd4b39;
$social-youtube: #2c567e;
$social-google: #dd4b39;
$social-pinterest: #f96a02;
$social-reddit: #ff4107;
$social-tumblr: #304e6c;
$social-vk: #6383a8;
$social-whatsapp: #3c8a38;
$social-xing: #1a7576;
$social-instagram: #cc0001;
$social-youtube: #2c567e;

// 5. Corners
$corner-normal: 3px;

// 6. Direction
$dir: ltr !default;