.z-flex,.z-flx {
    display: flex;
    display: -webkit-flex
}

.z-flex-column,.z-flx-col {
    flex-direction: column
}

.z-flex-column,.z-flx-row {
    flex-direction: row
}

.z-flex-wrap {
    flex-wrap: wrap
}

.jc-st {
    justify-content: flex-start
}

.jc-en {
    justify-content: flex-end
}

.jc-ce {
    justify-content: center
}

.jc-bet {
    justify-content: space-between
}

.jc-ar {
    justify-content: space-around
}

.ai-st {
    align-items: flex-start
}

.ai-ce {
    align-items: center
}

.ai-en {
    align-items: flex-end
}

.ai-st {
    align-items: stretch
}

.ac-st {
    align-content: flex-start
}

.ac-ce {
    align-content: center
}

.ac-en {
    align-content: flex-end
}

.ac-str {
    align-content: stretch
}

.as-st {
    align-self: flex-start
}

.as-ce {
    align-self: center
}

.as-en {
    align-self: flex-end
}

.z-pt-0 {
    padding-top: 0
}

.z-pt-1 {
    padding-top: var(--z-base)
}

.z-pt-2 {
    padding-top: calc(2*var(--z-base))
}

.z-pt-3 {
    padding-top: calc(3*var(--z-base))
}

.z-pt-4 {
    padding-top: calc(4*var(--z-base))
}

.z-pt-5 {
    padding-top: calc(5*var(--z-base))
}

.z-pb-0 {
    padding-bottom: 0
}

.z-pb-1 {
    padding-bottom: var(--z-base)
}

.z-pb-2 {
    padding-bottom: calc(2*var(--z-base))
}

.z-pb-3 {
    padding-bottom: calc(3*var(--z-base))
}

.z-pb-4 {
    padding-bottom: calc(4*var(--z-base))
}

.z-pb-5 {
    padding-bottom: calc(5*var(--z-base))
}

.z-pl-0 {
    padding-left: 0
}

.z-pl-1 {
    padding-left: var(--z-base)
}

.z-pl-2 {
    padding-left: calc(2*var(--z-base))
}

.z-pl-3 {
    padding-left: calc(3*var(--z-base))
}

.z-pl-4 {
    padding-left: calc(4*var(--z-base))
}

.z-pl-5 {
    padding-left: calc(5*var(--z-base))
}

.z-pr-0 {
    padding-right: 0
}

.z-pr-1 {
    padding-right: var(--z-base)
}

.z-pr-2 {
    padding-right: calc(2*var(--z-base))
}

.z-pr-3 {
    padding-right: calc(3*var(--z-base))
}

.z-pr-4 {
    padding-right: calc(4*var(--z-base))
}

.z-pr-5 {
    padding-right: calc(5*var(--z-base))
}

.z-px-0 {
    padding-left: 0;
    padding-right: 0
}

.z-px-1 {
    padding-left: var(--z-base);
    padding-right: var(--z-base)
}

.z-px-2 {
    padding-left: calc(2*var(--z-base));
    padding-right: calc(2*var(--z-base))
}

.z-px-3 {
    padding-left: calc(3*var(--z-base));
    padding-right: calc(3*var(--z-base))
}

.z-px-4 {
    padding-left: calc(4*var(--z-base));
    padding-right: calc(4*var(--z-base))
}

.z-px-5 {
    padding-left: calc(5*var(--z-base));
    padding-right: calc(5*var(--z-base))
}

.z-py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.z-py-1 {
    padding-top: var(--z-base);
    padding-bottom: var(--z-base)
}

.z-py-2 {
    padding-top: calc(2*var(--z-base));
    padding-bottom: calc(2*var(--z-base))
}

.z-py-3 {
    padding-top: calc(3*var(--z-base));
    padding-bottom: calc(3*var(--z-base))
}

.z-py-4 {
    padding-top: calc(4*var(--z-base));
    padding-bottom: calc(4*var(--z-base))
}

.z-py-5 {
    padding-top: calc(5*var(--z-base));
    padding-bottom: calc(5*var(--z-base))
}

.z-mt-0 {
    margin-top: 0
}

.z-mt-1 {
    margin-top: var(--z-base)
}

.z-mt-2 {
    margin-top: calc(2*var(--z-base))
}

.z-mt-3 {
    margin-top: calc(3*var(--z-base))
}

.z-mt-4 {
    margin-top: calc(4*var(--z-base))
}

.z-mt-5 {
    margin-top: calc(5*var(--z-base))
}

.z-mb-0 {
    margin-bottom: 0
}

.z-mb-1 {
    margin-bottom: var(--z-base)
}

.z-mb-2 {
    margin-bottom: calc(2*var(--z-base))
}

.z-mb-3 {
    margin-bottom: calc(3*var(--z-base))
}

.z-mb-4 {
    margin-bottom: calc(4*var(--z-base))
}

.z-mb-5 {
    margin-bottom: calc(5*var(--z-base))
}

.z-ml-0 {
    margin-left: 0
}

.z-ml-1 {
    margin-left: var(--z-base)
}

.z-ml-2 {
    margin-left: calc(2*var(--z-base))
}

.z-ml-3 {
    margin-left: calc(3*var(--z-base))
}

.z-ml-4 {
    margin-left: calc(4*var(--z-base))
}

.z-ml-5 {
    margin-left: calc(5*var(--z-base))
}

.z-mr-0 {
    margin-right: 0
}

.z-mr-1 {
    margin-right: var(--z-base)
}

.z-mr-2 {
    margin-right: calc(2*var(--z-base))
}

.z-mr-3 {
    margin-right: calc(3*var(--z-base))
}

.z-mr-4 {
    margin-right: calc(4*var(--z-base))
}

.z-mr-5 {
    margin-right: calc(5*var(--z-base))
}

.z-mx-0 {
    margin-left: 0;
    margin-right: 0
}

.z-mx-1 {
    margin-left: var(--z-base);
    margin-right: var(--z-base)
}

.z-mx-2 {
    margin-left: calc(2*var(--z-base));
    margin-right: calc(2*var(--z-base))
}

.z-mx-3 {
    margin-left: calc(3*var(--z-base));
    margin-right: calc(3*var(--z-base))
}

.z-mx-4 {
    margin-left: calc(4*var(--z-base));
    margin-right: calc(4*var(--z-base))
}

.z-mx-5 {
    margin-left: calc(5*var(--z-base));
    margin-right: calc(5*var(--z-base))
}

.z-my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.z-my-1 {
    margin-top: var(--z-base);
    margin-bottom: var(--z-base)
}

.z-my-2 {
    margin-top: calc(2*var(--z-base));
    margin-bottom: calc(2*var(--z-base))
}

.z-my-3 {
    margin-top: calc(3*var(--z-base));
    margin-bottom: calc(3*var(--z-base))
}

.z-my-4 {
    margin-top: calc(4*var(--z-base));
    margin-bottom: calc(4*var(--z-base))
}

.z-my-5 {
    margin-top: calc(5*var(--z-base));
    margin-bottom: calc(5*var(--z-base))
}

.rad-xs {
    border-radius: var(--radius-xs)
}

.rad-sm {
    border-radius: var(--radius-sm)
}

.rad-md {
    border-radius: var(--radius-md)
}

.rad-lg {
    border-radius: var(--radius-lg)
}

.rad-xl {
    border-radius: var(--radius-xl)
}

.rad-xxl {
    border-radius: var(--radius-2xl)
}

.rad-xxxl {
    border-radius: var(--radius-3xl)
}

.rad-50 {
    border-radius: var(--radius-circle)
}

.button,.btn {
    font-weight: 400;
    text-transform: none;
    /* border-radius:var(--radius-sm); */
}

.btn-rounded,.btn-rounded:after,.btn-rounded:before {
    border-radius: var(--radius-sm)
}

.btn-info {
    color: #fff;
    border-color: var(--blue-100);
    background-color: var(--blu-100)
}

.btn-info:hover {
    border-color: var(--blue-120);
    background-color: var(--blue-120)
}

.btn-success {
    color: var(--green-wash);
    border-color: var(--green-140);
    background-color: var(--green-140);
}

.btn-success:hover {
    color: var(--green-wash);
    border-color: var(--green-120);
    background-color: var(--green-120)
}

.btn-green-light {
    color: var(--night-100);
    border-color: var(--neon-blue-40);
    background-color: var(--neon-blue-40)
}

.btn-green-light:hover {
    border-color: var(--neon-blue-100);
    background-color: var(--neon-blue-100)
}

.bor { border: 1px solid;}
.bor-t { border-width: 1px 0 0 0 !important;}
.bor-l { border-width: 0 1px 0 0 !important;}
.bor-r { border-width: 0 0 0 1px !important;}
.bor-b { border-width: 0 0 1px 0 !important;}
.bor-light {  border-color: var(--gray-40)}
.bor-dark  {  border-color: var(--night-60)}



.bor-white {
    border-color: var(--white)
}

.bor-light {
    border-color: var(--gray-40)
}

.bor-dark {
    border-color: var(--night-80)
}

.bor-primary {
    border-color: var(--night-100)
}

.bor-second {
    border-color: var(--aero-100)
}

.wash-white {
    background: var(--white)
}

.wash-gray {
    background: var(--gray-20)
}

.wash-dark {
    background: var(--night-80)
}

.wash-aero-light {
    background: var(--aero-wash)
}
.wash-aero {
    background: var(--aero-100)
}
.wash-aero-dark {
    background: var(--aero-140)
}

.wash-blue {
    background: var(--blue-wash)
}

.wash-green-light {
    background: var(--green-wash)
}
.wash-green {
    background: var(--green-100)
}
.wash-green-dark {
    background: var(--green-140)
}
.z-wash.white {
    --wash: var(--white)
}

.z-wash {
    background: var(--wash)
}

.text-link {
    font-size: var(--font-size-sm);
    font-weight: 500
}

.text-gray {
    color: var(--gray-100)!important
}

.text-aero-light {
    color: var(--aero-50)
}

.text-aero-dark {
    color: var(--aero-140)
}

.text-green {
    color: var(--green-100)!important
}

.text-green-light {
    color: var(--green-50)
}

.text-green-dark {
    color: var(--green-140)
}

.text-blue {
    color: var(--blue-100)!important
}

.text-blue-light {
    color: var(--blue-50)
}

.text-blue-dark {
    color: var(--blue-140)
}

.shadowL {
    box-shadow: var(--shadowLarge)
}

.shadowM {
    box-shadow: var(--shadowMedium)
}

.shadowS {
    box-shadow: var(--shadowSmall)
}

.shadowlg {
    box-shadow: var(--shadow-lg)
}

.shadowmd {
    box-shadow: var(--shadow-md)
}

.shadowxs {
    box-shadow: var(--shadow-xs)
}

.z-con-main .body {
    font-weight: 400;
    line-height: 1.4
}

.z-con-main .icon {
    color: var(--night-80);
    fill: var(--night-80)
}
