    main, #main, .wcfm-store-list-page #main{
        padding-top: 16px !important;
        padding-bottom: 60px !important;
    }
    .cookies-popup {
        padding: 1rem;
        border-radius: 10px;
        transition: transform 0.3s;
        z-index: 99999
    }
.z-btn.menu a {
    padding: 0 0.371em;
    height: 38px;
	min-width:38px
}
.icon {
    height: var(--height-base, 38px);
	font-size: 28px;
}
    .header .cont {
        padding: 0 1.2em;
        background: var(--white);
        z-index: 99;
        height: 55px;
    }
    .mobile .logo img {
        width: 85px;
    }
    .aws-overlay-mask,
    .aws-container.aws-mobile-fixed {
        top: 0!important;
        left: 0!important;
        right: 0;
        height: 50px;
        bottom: inherit;
        width: 100%!important;
        display: flex;
        align-items: center;
    }
    .aws-container.aws-mobile-fixed:before {
        width: 100%;
        height: 100%;
        background: #fff;
        content: "";
        position: fixed;
        bottom: 0;
        z-index: -1;
    }
    .aws-mobile-fixed-close {
        margin-right: 0;
    }
    .aws-mobile-fixed-close svg {
        background: #000;
        fill: #fff!important;
        padding: 0.35em;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        z-index: 1055;
    }
    .aws-container .aws-show-clear .aws-search-field {
        padding-right: 5px;
    }
    .aws-mobile-fixed .aws-search-form {
        width: 100%;
        max-width: 100%;
        border: 0;
        background: #fff;
        border-bottom: 1px solid var(--line);
        border-radius: 0;
        margin-right: 15px;
    }
    .aws-search-result,
    .aws-search-form.aws-form-active {
        box-shadow: none !important;
        background: #fff;
    }
    .aws-search-result .aws_result_scroll {
        max-height: calc(90vh - 50px) !important;
    }
    .add-store span.text {
        display: none;
    }
a.login.logout {
    padding: 0;
    background: transparent;
}
.account-avatar {
    width: 36px;
    height: 36px;

}
.nav-menu-fixed {
    padding: 0;
}
form.cart,.nav-menu-fixed {
    position: fixed;
    background: var(--light);
    z-index: 1024;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem;
}
.nav-menu-fixed {
    padding: 0;
}
.nav-menu-fixed.product{
	bottom:inherit;
	top:0;
}
.single-product .page-wrapper{
	margin-top:55px;
}
.single-product #main{
	padding-top:10px!important;
	padding-bottom: 120px !important; 
}
    .nav-menu-fixed > div {
        background: #fff;
        max-height: 60px;
        padding: 0 !important;
    }
    .step {
        font-size: 14px;
    }
    p.description {
        font-size: 12px;
    }
    .vendor-widget-1 .vendor-details {
        /* border-radius: 50px; */
        padding: 0.5em;
    }
    .vendor-widget .vendor-logo {
        max-width: 45px;
        /* max-height: 45px; */
    }
    .home h3.woocommerce-loop-product__title {
        font-size: 1.15rem;
    }
    .home .price {
        margin-bottom: 0;
        font-size: 1.25rem;
    }
    .archive .main-content {
        padding: 0;
    }
    .toolbox .toolbox-toggle {
        border-radius: 12px;
        border: 1px solid var(--linedark);
        color: var(--black-700);
    }
    .toolbox .orderby,
    .toolbox-item {
        height: 38px;
    }
    .products ul.row,
    .products.row {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
.product-sticky-cart-wrapper {
    bottom: 0.25rem;
}
    .product-loop .product-label-group {
        right: 4px;
        bottom: 4px;
    }
    .product-sticky-cart .product-details {
        padding-top: 10px;
    }
.product-media .btn-product-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
h3.woocommerce-loop-product__title {
    line-height: 1.15;
    font-size: 1.2rem;
}

/*toglle-market*/
.sidebar.shop-sidebar .sidebar-content {
    padding: 1rem;
}
.sidebar .widget li {
    padding: 0.45rem 0 !important;
    font-size: 15px !important;
}
.categories_list li.parent_cat > a,li.child2_cat a{
    font-size: 15px;
}
li.child3_cat a {
    font-size: 14px;
}
/*checkout*/
#billing_first_name_field, #billing_last_name_field, #billing_city_field, #billing_state_field {
    width: 50%;
}
#wcfmmp-store .main-content-wrap {
    padding: 0 1.3rem;
    gap: 0.5rem;
}
#wcfmmp-store .banner_img, #wcfmmp-store .wcfm_slideshow_container {
    max-height: 90px !important;
}
@media only screen and (max-width: 767px) and (min-width: 370px)  {
	.archive .cols-2, .single-product .cols-2,.wcfm-store-page .cols-2{
    --wolmart-col: 3;
   }
	li.product-wrap,#wcfmmp-store .product_area ul.products li {
    padding-left: 3px;
    padding-right: 3px;
}
}











.toolbox.sticky-content.fix-top {
    top: 50px;
}











@media only screen and (max-width: 640px) {
    .wcfm-collapse-content {
        padding:10px
    }

    #wcfm_products_manage_form_general_expander,.wcfm_product_manager_general_fields,.wcfm_product_manager_gallery_fields,.wcfm_product_manager_taxonomy_fields {
        width: 100%;
        display: block
    }

    #wcfm-main-contentainer .wcfm-top-element-container ul,#wcfm-main-contentainer .wcfm-top-element-container a {
        vertical-align: middle
    }

    #add_new_product_dashboard span.text,a.add_new_wcfm_ele_dashboard span.hidden-text,a.wcfm_import_export span.hidden-text {
        display: inline-block
    }

    #wcfm-main-contentainer #wcfm_products_manage_form div.wcfm-content {
        padding: 0
    }

    .wcfm-dashboard-page .popup-banner {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%
    }

    .wcfm_product_manager_gallery_fields {
        width: 100%;
        padding: 0
    }

    #wcfm-main-contentainer .wcfm-checkbox.variable {
        /* float: right; */
        margin: 0
    }

    .media-sidebar {
        max-width: 100%;
        width: 100%;
        padding: 0!important;
        z-index: 250;
        max-height: 160px;
        overflow: hidden;
        order: 1
    }

    .media-frame-content .attachments-browser .attachments-wrapper {
        background: #FFF;
        top: 90px;
        order: 4
    }

    .attachments-browser .media-toolbar {
        position: static;
        order: 2;
        width: 100%
    }

    .media-frame .attachments-browser {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    .attachments-browser .uploader-inline.hidden {
        order: 3
    }

    .media-sidebar::after {
        height: 0
    }

    .image-details h2:not(.media-attachments-filter-heading),.media-sidebar h2 {
        display: none
    }
}


@media only screen and (max-width: 768px) {
    #wcfm_menu {
        width:250px;
        transform: translate(0,0);
        height: 100%;
    }

    #wcfm-main-contentainer .wcfm_menu_toggle {
        width: 250px;
        transform: translate(-250px,0);
    }

    p.wcfm_title,span.wcfm_title {
        width: 38%
    }

    .wcfm_half_ele_title,.wcfm_half_ele_upload_title {
        width: 38%!important
    }

    #wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
        height: auto
    }

    #wcfm-main-contentainer input[type="text"].wcfm-text,#wcfm-main-contentainer input[type="password"].wcfm-text,.wcfm_popup_form select.wcfm-select,.wcfm_popup_form input[type="text"].wcfm-text,#wcfm-main-contentainer input[type="number"].wcfm-text,#wcfm-main-contentainer input[type="time"].wcfm-text,#wcfm-main-contentainer textarea.wcfm-textarea,#wcfm-main-contentainer .wp-picker-container,#wcfm-main-contentainer .wcfm-checklist-group,#wcfm-main-contentainer .wcfm-radio-group {
        width: 100%!important
    }

    select#product_type {
        width: 100%!important
    }

    #wcfm-main-contentainer input#pro_title {
        width: 100%!important
    }

    #wcfm_menu .wcfm_menu_items {
        height: auto
    }

    #wcfm-main-contentainer .wcfm_menu_toggle .wcfm_menu_items {
        display: block
    }

    #wcfm-main-contentainer .wcfm_menu_toggle .wcfm_menu_item span.text,.wcfm_menu_toggle .wcfm_menu_logo h4 a {
        display: inline-block!important
    }

    #wcfm-main-contentainer .wcfm_responsive_menu_toggler {
        /* width: 32px!important; */
        /* font-size: 16px; */
        /* color: #FFF!important; */
        /* margin-top: 0; */
        /* display: block; */
    }

    .wcfm-page-headig .wcfmfa,.wcfm-page-heading-text,.wcfm-page-headig .wcfm-page-heading-text {
    }
}

@media only screen and (max-width: 600px) {
    #dashboard-wcfm .col-2 {
        -ms-flex:0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .header_area {
        justify-content: center
    }

    .header_left_meta {
        display: flex;
        flex-direction: column
    }

    .logo_meta {
        padding: 0 0 15px 0;
        margin-top: -50px
    }

    .header_area {
        flex-wrap: wrap;
        flex-direction: column
    }

    #wcfmmp-store h1.wcfm_store_title {
        text-align: center
    }

    #wcfmmp-store .header_left i {
        display: none
    }

    #wcfmmp-store div.store_info_parallal {
        display: block;
        text-align: center
    }

    #wcfmmp-store .social_area ul li {
        width: 28px;
        height: 28px
    }

    #wcfmmp-store .header_right {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        width: auto
    }
}

@media only screen and (max-width: 768px) {
    #wcfm-main-contentainer .wcfm-collapse-content {
        padding:10px
    }

    #dashboard-wcfm {
        margin-left: -6px;
        margin-right: -6px
    }

    .attachment-info .thumbnail {
        display: none
    }

    #wcfm-main-contentainer .wcfm-page-headig {
        padding: 0 15px;
        height: 65px;
        min-width: 300px;
    }

    .wcfm-store-name-heading-text,.wcfm_header_panel a.wcfm_header_panel_profile {
        display: none
    }

    #wcfm-products img {
        max-width: 80px
    }

    .wc-setup-content p {
        margin: 0!important
    }
}
