/* ====================
   1. HEADER
======================= */
header .account i,header .cart-toggle i,header .compare-open i,header .contact i,header .wishlist i{
    font-size:1.6rem;
    margin-bottom:0!important;
    font-weight:500;
}
.aws-container .aws-search-form ,.account a,.cart-dropdown .cart-toggle {
    height: 36px;
    border: 1px solid;
    border-color: var(--wolmart-border-color);
    padding: 0 8px;
    justify-content: center;
    border-radius: 8px;
}
/*Search Adv. Woo*/


.aws-container .aws-search-form.aws-form-active:before {
    border-bottom: 1px solid var(--wolmart-border-color);
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: 10;
    margin: 0 8px 0 16px
}

.aws-container .aws-search-form .aws-search-field, .aws-container .aws-search-form .aws-form-btn {
    border: 0;
    font-size: 14px;
    caret-color: var(--aero-100);
    background: transparent !important;
    color: var(--night-80);
    letter-spacing: -0.020em;
}

.aws-container .aws-search-form .aws-search-btn_icon {
    border-left: 1px solid var(--wolmart-border-color);
    color: var(--night-60);
    padding-left: 8px;
}
.aws-container .aws-search-form .aws-search-clear {
    background:#fff;
}
.aws-container .aws-search-form .aws-search-clear span {
    line-height: 18px;
    margin-top: -10px;
    border-radius: 60px !important;
    text-align: center;
    height: 20px;
    width: 20px;
    color: var(--night-80);
    background: var(--wolmart-border-color);
}
.aws-search-result {
    box-shadow: var(--shadow-xl);
    border: 1px solid var(--gray-40);
    border-radius: 0!important;
    margin-top: 0.25rem;
    overflow: hidden
}

.aws-search-result.aws_no_result .aws_results .aws_result_item, .aws-search-result .aws_results .aws_result_item {
    border-color: var(--gray-40);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: flex-start;
    align-content: center;
}

.aws-search-result.aws_no_result .aws_results .aws_result_item {
    padding: 16px
}

.aws-search-result .aws_result_link {
    display: flex;
    padding: 8px 8px;
    align-items: center;
}
.aws-search-result .aws_result_user .aws_result_head img, .aws-search-result .aws_result_image img {
    width: 28px;
    border: 1px solid;
    margin-top: 0;
}

.aws-search-result .aws_result_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
}

.aws-search-result .aws_result_head {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    align-items: center;
    width: 85%;
}

.aws-search-result .aws_result_title {
    overflow: hidden;
    color: var(--wolmart-dark-color, #333);
    font-family: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 320px
}

.aws-search-result .aws_result_excerpt, .aws-search-result .aws_result_term {
    max-width: 280px;
    display: flex;
    align-items: center;
    overflow: hidden;
    letter-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1.1rem;
    color: var(--text-placeholder);
    font-size: 12px;
    padding-top: 0;
    z-index: 1000
}

.woocommerce.aws-wishlist {
    margin-left: 2px;
    width: 30px;
    text-align: center
}

.aws-search-result .aws_result_excerpt>a {
    margin-top: 0;
    font-weight: 500;
    color: var(--night-60);
    font-size: 10px;
}

.aws_result_excerpt a img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none
}

/* Cart Dropdown */
.cart-dropdown .cart-toggle {
    padding-right: 30px;
}
.cart-dropdown.badge-type .cart-count {
    left: 33px;
    top: 8px;
    background: var(--aero-100);
    width: 1.5em;
    height: 1.5em;
}
@media (max-width: 767px) {
    .aws-container.aws-mobile-fixed {
       display: flex;
       align-items: center;
       border-bottom: 1px solid var(--wolmart-border-color); /* MEJORA: Variable semántica */
    }
    .aws-search-result.less500 {
       width: 100% !important;
       height: 100%;
       border: 0;
       left: 0 !important;
       right: 0;
       box-shadow: none;
       padding: 0 1rem;
    }
}