/* Main Content Padding */
.categories_list li.parent_cat {
	font-weight: 600;
	margin-top: 5px !important
}

.categories_list li.child_cat {
    margin: 3px 0 !important
}

.categories_list li.child2_cat {
    background: var(--gray-20);
    border-radius: 20px;
    padding: 1px 5px !important;
    margin-bottom: .5rem !important
}

.categories_list li.child2_cat a {
    font-size: 13px;
}
.product-archive {
    display: flex;
    justify-content: center;
}


/* WooCommerce Alert Styles */
.wolmart-rounded-skin .alert, .woocommerce-message.alert {
    font-size: var(--font-size-sm);
    line-height: 1.2;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.alert-close-top .btn-close {
    top: 50%;
}

.wolmart-rounded-skin .alert a { /* Alert Button */
    border: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    margin-right: 3.5rem;
}

/* Toolbox Styles */
.toolbox .toolbox-toggle {
    border-radius: var(--radius-sm);
    border: 1px solid;
}

.toolbox-left > *, .toolbox-right > * {
    margin-right: 1rem;
}

.toolbox .toolbox-right {
    margin-right: 0;
}

.btn-showtype {
    font-size: 16px;
    border: 1px solid var(--night-80);
    padding: 9px !important; /* Consider removing !important */
    border-radius: var(--radius-sm);
}
/* =========================================================================
/*  Product Styles
/* =======================================================================*/
.product-wrap {margin-bottom: 1rem;}

.product-boxed {
    padding: 5px;
    /* border-radius: var(--radius-sm) !important; */
    border-color: var(--gray-40);
    /* overflow: hidden; */
}


/* Product Action */
.product-action-vertical {
    top: .5rem;
    right: .5rem;
}
/* Product Label */
.product-label-group {
    top: .5rem !important;
    left: .5rem !important;
    max-width: 100%;
    flex-direction: row;
    gap: 5px;
}

.product-label {
    padding: .35rem .55rem !important;
    border-radius: 0!important;
    font-size: 1.1rem !important;
    margin: 0;
    overflow: hidden;
}

.product-label.label-featured::before {
    content: "\f005";
    font-family: "Font Awesome 6 Pro";
    font-weight: 600;
    margin-right: 5px;
}


.product-sticky-cart .product-details,
.product-boxed .product-details {
    padding: 5px 5px;
    height: auto;
}
.products .woocommerce-loop-product__title {
    letter-spacing: -.03rem;
    padding-right: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

p.price {
    font-size: 1.8rem;
}

.product-archive .price {
    font-size: 1.4rem;
}

.price del,p.price del {
    font-size: 1.2rem;
}


/* Product Button Styles */
.product-classic .btn-product, .product-list .btn-product {
    text-transform: math-auto;
    border: 1px solid var(--night-80) !important;
    color: var(--night-80);
    background-color: transparent;
    max-height: 3.5rem;
    padding: 0 .75rem;
}

.product-details .add_to_cart_button:before, .product-hide-details .add_to_cart_button:before,.product-list .add_to_cart_button::before,.single_add_to_cart_button:before { /* Use ::before */
    content: "\e653";
    font-family: 'Font Awesome 6 Pro';
    max-width: 26px;
}

.product-details .btn-product-icon, .product-hide-details .btn-product-icon {
    width: 3.5rem;
    border: 1px solid;
    border-radius: var(--radius-sm);
    margin-left: .75rem; /* Simplified margin */
}
.single_add_to_cart_button, .single_buy_now_button,.wolmart-rounded-skin .product-cart-bottom .btn-product{
	/* border-radius: var(--radius-sm)!important; */
}
.single_add_to_cart_button, .single_buy_now_button {
    margin-bottom: .5rem;
}
.wolmart-rounded-skin .product-cart-bottom .btn-product {
    font-size: 1.3rem;
    letter-spacing: -0.040rem;
    gap: 5px;
}
.product-details .add_to_cart_button, .product-hide-details .add_to_cart_button {
    /* display: inherit; */
    /* text-indent: inherit; */
}
/* Pagination Styles */
.page-numbers, .pagination-footer .links .post-page-numbers {
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-md);
}

.page-numbers.current, .page-numbers:hover,
.pagination-footer .links .post-page-numbers.current,
.pagination-footer .links .post-page-numbers:hover {
    border-color: var(--night-100);
    background: var(--night-100);
    color: var(--white);
}

.pagination {
    font-size: 1.2rem;
}


/* =========================================================================
/*  Style Offert Home
/* =======================================================================*/
.body-offers-flash .product-boxed {
    border-color: var(--aero-100);
}
.product .countdown-container {
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #ffffff75;
    box-shadow: var(--shadow-lg);
    color: var(--night-80);
    letter-spacing: -0.035em
}
.product .countdown-container .countdown-amount {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -0.04rem
    
}

.product .countdown-container .countdown-period {
    letter-spacing: -0.04rem;
    bottom: 0.8rem
}

.product .countdown-container .countdown-section {
    padding: 0.8rem .8rem 2rem
}

.product .countdown-container .countdown-section:not(:last-child) {
    margin-right: .8rem
}

@media (min-width: 576px) {
    .product-list .product-media {
        flex: 0 0 20rem;
        max-width: 20rem;
        margin: 0 2rem 0 0;
    }
    .product-list .product-details {
        max-width: calc(100% - 20rem);
    }
     .product-list .product-details .btn-product {
        min-width: 20rem;
    }
}
}








