/*
 * =========================================================================
 * ZOCOBA - ESTILOS DE CHECKOUT, CARRITO Y MI CUENTA
 * =========================================================================
 */

/* Estilos para Mi Cuenta */
.woocommerce-MyAccount-navigation {
    border: 1px solid var(--wolmart-border-color);
    border-radius: var(--radius-sm);
    padding: 1rem;
}

.woocommerce-MyAccount-navigation ul {
    margin: 0;
}

.woocommerce-MyAccount-navigation-link a {
    padding: .8rem 1rem;
    border-radius: var(--radius-sm);
}

.woocommerce-MyAccount-navigation-link.is-active a {
    background-color: var(--gray-20);
    color: var(--brand-primary);
}

/* Estilos de Checkout */
.woocommerce-checkout .col-1,
.woocommerce-checkout .col-2 {
    padding: 1.5rem;
    border: 1px solid var(--wolmart-border-color);
    border-radius: var(--radius-sm);
}

#order_review_heading,
.woocommerce-checkout-review-order-table {
    padding: 1.5rem;
    border: 1px solid var(--wolmart-border-color);
    border-radius: var(--radius-sm);
    margin-top: 2rem;
}

#payment {
    padding: 1.5rem;
    border: 1px solid var(--wolmart-border-color);
    border-radius: var(--radius-sm);
    margin-top: 1rem;
}

/* Estilos Móviles de Checkout (desde mobile-responsive) */
@media (max-width: 767px) {
    .woocommerce-checkout .col-1,
    .woocommerce-checkout .col-2 {
        padding: 1rem;
    }
}